/* Your styles goes here. */

* {
    margin: 0;
    padding: 0;
    line-height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    user-select: none;
}