.traffic-top{
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.filter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 144px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
    padding: 6px 12px;

}

.routes-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.traffic-table{
    width: 100%;
    height: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.traffic-search{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search{
    height: 40px;
    width: 100%;
    border: 1px solid #E2E2EA;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 10px;
    overflow: hidden;
    background-color: white;
}

.search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 5px 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

table{
    background: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 100%;

}

table,td,th{
    border-collapse: collapse;
}

tr{
    background-color: white;
}

.first-tr{
    background: #F5F5F5;
}

th,td{
    padding: 10px 45px;
}
